{% extends 'base.html' %}

{% block header %}
  <h1 style="text-align: center;">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3 style="text-align: center;">{{error}}</h3>
  <form method="post" style="margin:auto;align-items: center;">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In" class="btn btn-primary">
  </form>
{% endblock %}
