{% extends 'base.html' %}

{% block header %}
  <h1 style="text-align: center;">{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>{{error}}</h3>
  <form method="post" style="margin:auto;align-items: center;">
    <label for="username">Username</label>
    <input name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <label for="useremail">Email</label>
    <input type="email" name="useremail" required>
    <input type="submit" value="Register" class="btn btn-primary">
  </form>
{% endblock %}
